@model ProductoView
@{
    List<string> generos = ViewData["GENEROS"] as List<string>;
}
@section styles {
    <link rel="stylesheet" href="~/css/LibroDetalles.css" />
}
<div class="col-12 d-flex flex-column align-items-center">

    @if (Model == null)
    {
        <h2 class="text-danger">No se ha encontrado el libro</h2>
    }
    else
    {
        <div class="contenedor-producto">
            <div class="seccion-portada">
                <img src="~/images/portadas/@Model.Portada" class="rounded imglibro">
            </div>
            <div class="seccion-sinopsis" style="padding-top:1.5rem">
                <h1 class="text-primary">@Model.Titulo</h1>
                <h5 class="text-light">Autor: @Model.Autor</h5>
                <p class="text-light" style="text-align:justify">@Model.Sinopsis</p>
            </div>
            <div class="seccion-info">
                <ul class="list-group">
                    <li class="list-group-item">
                        ISBN:
                        <h6>@Model.Isbn</h6>
                    </li>
                    <li class="list-group-item">
                        Formato:
                        <h6>@Model.Formato</h6>
                    </li>
                    <li class="list-group-item">
                        Precio :
                        <h6>@Model.Precio€</h6>
                    </li>
                    @if (Model.Saga != null)
                    {
                        <li class="list-group-item">
                            Saga :
                            <h6>@Model.Saga</h6>
                        </li>
                    }
                    <li class="list-group-item">
                        Generos:
                        @if (generos == null)
                        {
                            <span>Sin generos</span>
                        }
                        else
                        {
                            <div class="d-flex flex-wrap gap-1">
                                @foreach (string genero in generos)
                                {
                                    <button class="btn btn-primary btn-sm"> @genero</button>
                                }
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div>
            Comentarios
        </div>
    }
</div>
