@model List<ProductoSimpleView>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#contenedorcards").on('click', 'button', function () {
                var id = $(this).val();
                var request = "/Libro/_IconoCarrito?idproducto=" + id + "&agregar=true";
                $("#" + id).load(request);
            });
            $("#contenedorcards button").each(function () {
                var id = $(this).val();
                var request = "/Libro/_IconoCarrito?idproducto=" + id + "&agregar=false";
                $("#" + id).load(request);
            });
        });
    </script>
}
<div id="contenedorcards" class="col-10 d-flex flex-wrap gap-3" style="min-width:48rem">
    @foreach (ProductoSimpleView libro in Model)
    {
        <div class="card" style="width:22.15m">
            <img src="~/images/portadas/@libro.Portada" class="card-img-top" style="height:30rem;width:22rem;">
            <div class="card-body d-flex flex-column bg-light" style="height:9rem">
                <h5 class="card-title" style="max-width:20rem;">@libro.Titulo</h5>
                <div class="d-flex justify-content-between mt-auto">
                    <h6 class="card-subtitle text-muted">@libro.Autor</h6>
                    <h6 class="card-subtitle">@libro.Precio€</h6>
                </div>

                <div class="d-flex justify-content-between mt-auto">
                    <div id="@libro.IdProducto">
                        <button class="btn btn-secondary d-flex flex-column justify-content-center align-items-center" value="@libro.IdProducto">
                        </button>
                    </div>
                    <a asp-controller="Libro" asp-action="Detalles" asp-route-idproducto="@libro.IdProducto" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
    }
</div>